In [59]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [75]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get('https://www.flipkart.com/')
driver.find_element_by_xpath("//input[@class='_3704LK']").send_keys('Sneakers')
driver.find_element_by_xpath("//button[@class='_2KpZ6l _2doB4z']").click()
driver.find_element_by_xpath("//button[@class='L0Z3Pu']").click()
time.sleep(5)

In [76]:
brand_names=[]
price=[]
discount=[]
desc=[]
for i in list(driver.find_elements_by_xpath("//div[@class='_2WkVRV']")):
    brand_names.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='_30jeq3']")):  
    price.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")):
    discount.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='_2B099V']/a")):
    desc.append(i.text)
li=[]
link = driver.find_elements_by_xpath("//a[@class='ge-49M']")
for i in link:
    li.append(i.get_attribute('href'))
for i in li[:3]:
    driver.get(i)
    time.sleep(5)
    for i in list(driver.find_elements_by_xpath("//div[@class='_2WkVRV']")):
        brand_names.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='_30jeq3']")):
        price.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")):
        discount.append(i.text)
    for i in list(driver.find_elements_by_xpath("//div[@class='_2B099V']/a")):
        desc.append(i.text)
job_df=pd.DataFrame({'Brand':brand_names[:100],
                         'Price':price[:100],
                         'Discount':discount[:100],
                         'Description':desc[0::2][:100]})
job_df.to_csv('Sunglasses of flipkart', index = False)
print(job_df)

                Brand   Price Discount  \
0              Ducati  ₹1,259  65% off
1              Ducati    ₹691  68% off
2              Chevit    ₹579  70% off
3              Chevit    ₹249  50% off
4          Deny Brown    ₹375  24% off
..                ...     ...      ...
95            Essence    ₹499  50% off
96          Rockfield    ₹499  50% off
97            ESSENCE    ₹499  50% off
98         D-SNEAKERZ    ₹348  65% off
99  French Connection  ₹1,399  62% off

                                          Description
0                                    Sneakers For Men
1                       DTSS18FT-001 Sneakers For Men
2   Combo Pack of 4 Casual Sneakers With Sneakers ...
3   171 Smart Tan Lace-Ups Casuals for Men Sneaker...
4                   445 Sports Shoes Sneakers For Men
..                                                ...
95                                   Sneakers For Men
96                                   Sneakers For Men
97                                   Sneakers For Men
98  Casual , Partywear Sneakers Shoes For Men's An...
99                                   Sneakers For Men

[100 rows x 4 columns]