In [2]:
import pandas as pd
from bs4 import BeautifulSoup
import requests
import selenium
from selenium import webdriver
import time

In [3]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get('https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm')
company=[]
Days=[]
Rating=[]
for i in list(driver.find_elements_by_xpath("//div[@class='jobHeader d-flex justify-content-between align-items-start']"))[:10]:
    company.append(i.text)
for i in list(driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']"))[:10]:  
    Days.append(i.text)
for i in list(driver.find_elements_by_xpath("//span[@class='compactStars ']"))[:10]:
    Rating.append(i.text)
job_df=pd.DataFrame({'Company Name':company,
                         'Days Posted':Days,
                         'Rating':Rating})
job_df.to_csv('Data Scientist GlassDoor.com', index = False)
print(job_df)

                       Company Name Days Posted Rating
0   ANI Calls India Private Limited          2d    3.2
1                    WSD Consultant          5d    3.3
2                       AI Engineer         10d    3.7
3  Applicate IT Solutions Pvt. Ltd.          5d    3.9
4                    Biz2Credit Inc        30d+      3
5                     NatWest Group          3d    3.5
6   ANI Calls India Private Limited          2d    4.4
7                          xtLytics        30d+      5
8                           Dürr AG         16d    4.3
9                         Microsoft         16d    3.3

In [4]:
job_df

                       Company Name Days Posted Rating
0   ANI Calls India Private Limited          2d    3.2
1                    WSD Consultant          5d    3.3
2                       AI Engineer         10d    3.7
3  Applicate IT Solutions Pvt. Ltd.          5d    3.9
4                    Biz2Credit Inc        30d+      3
5                     NatWest Group          3d    3.5
6   ANI Calls India Private Limited          2d    4.4
7                          xtLytics        30d+      5
8                           Dürr AG         16d    4.3
9                         Microsoft         16d    3.3