In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.amazon.in/s?i=electronics&bbn=1805560031&rh=n%3A976419031%2Cn%3A976420031%2Cn%3A1389401031%2Cn%3A1389432031%2Cn%3A1805560031%2Cp_36%3A-2000000%2Cp_85%3A10440599031&hidden-keywords=smartphone&pf_rd_i=1389401031&pf_rd_m=A1K21FY43GMZF8&pf_rd_p=1256e9e9-b753-4049-b447-56796aba6c3f&pf_rd_r=4MFVHM03B0G4PPV96QCS&pf_rd_s=merchandised-search-20&pf_rd_t=101&qid=1607269147&rnid=1318502031&ref=sr_nr_p_36_2")

In [3]:
Handset=[]
Price=[]
Image=[]
Rating=[]

In [4]:
name_list=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

In [5]:
for i in name_list:
    name=i.text
    Handset.append(name)
Handset[0:10]

['Lava Z66 (Marine Blue, 3GB RAM, 32GB Storage)',
 'LAVA Z66 (Berry RED, 3GB RAM, 32GB Storage)',
 'Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage) | 3 Months No Cost EMI on BFL',
 'Redmi 9 Prime (Space Blue, 4GB RAM, 64GB Storage)- Full HD+ Display & AI Quad Camera',
 'Samsung Galaxy M31 Prime Edition (Ocean Blue, 6GB RAM, 128GB Storage)',
 'Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)',
 'Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storage) with No Cost EMI/Additional Exchange Offers',
 'Redmi 9 Prime (Matte Black, 4GB RAM, 64GB Storage) - Full HD+ Display & AI Quad Camera',
 'Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storage) - 48MP Quad Camera & Full HD+ Display',
 'Redmi 9A (Midnight Black, 3GB Ram, 32GB Storage)']

In [6]:
price_list = driver.find_elements_by_xpath("//span[@class='a-price-whole']")

In [7]:
for i in price_list:
    m=i.text
    Price.append(m)
Price

['7,377',
 '7,377',
 '8,999',
 '9,999',
 '16,499',
 '7,499',
 '7,499',
 '9,999',
 '11,999',
 '7,499',
 '13,999',
 '13,999',
 '16,499',
 '12,999',
 '13,990',
 '9,999',
 '7,499',
 '9,999',
 '11,999',
 '12,999',
 '11,999',
 '16,499',
 '11,990',
 '7,499',
 '16,499',
 '14,999']

In [8]:
img_list=driver.find_elements_by_xpath("//img[@class='s-image']")

In [9]:
for i in img_list:
    r1=i.text
    Image.append(r1)
Image

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [10]:
rating_list=driver.find_elements_by_xpath("//span[@class='a-icon-alt']")

In [11]:
for i in rating_list:
    p1=i.text
    Rating.append(p1)
Rating

['',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '']

In [12]:
Mobile=pd.DataFrame({})
Mobile['Handset'] = Handset[:10]
Mobile['Price'] = Price[:10]
Mobile['Image'] = Image[:10]
Mobile['Rating'] = Rating[:10]

In [13]:
Mobile

                                             Handset   Price Image Rating
0      Lava Z66 (Marine Blue, 3GB RAM, 32GB Storage)   7,377
1        LAVA Z66 (Berry RED, 3GB RAM, 32GB Storage)   7,377
2  Redmi 9 (Sporty Orange, 4GB RAM, 64GB Storage)...   8,999
3  Redmi 9 Prime (Space Blue, 4GB RAM, 64GB Stora...   9,999
4  Samsung Galaxy M31 Prime Edition (Ocean Blue, ...  16,499
5         Redmi 9A (Sea Blue, 3GB Ram, 32GB Storage)   7,499
6  Samsung Galaxy M01 (Blue, 3GB RAM, 32GB Storag...   7,499
7  Redmi 9 Prime (Matte Black, 4GB RAM, 64GB Stor...   9,999
8  Redmi Note 9 (Pebble Grey, 4GB RAM 64GB Storag...  11,999
9   Redmi 9A (Midnight Black, 3GB Ram, 32GB Storage)   7,499