In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.imdb.com/chart/top/?ref_=nv_mv_250")

In [3]:
Title=[]
Year=[]
Rating=[]

In [4]:
title_list=driver.find_elements_by_xpath("//td[@class='titleColumn']")

In [5]:
for i in title_list:
    name=i.text
    Title.append(name)
Title[0:10]

['1. The Shawshank Redemption (1994)',
 '2. The Godfather (1972)',
 '3. The Godfather: Part II (1974)',
 '4. The Dark Knight (2008)',
 '5. 12 Angry Men (1957)',
 "6. Schindler's List (1993)",
 '7. The Lord of the Rings: The Return of the King (2003)',
 '8. Pulp Fiction (1994)',
 '9. The Good, the Bad and the Ugly (1966)',
 '10. The Lord of the Rings: The Fellowship of the Ring (2001)']

In [6]:
ratings = driver.find_elements_by_xpath("//td[@class='ratingColumn imdbRating']")
for i in ratings:
    rate=i.text
    Rating.append(rate)
Rating[0:10]

['9.2', '9.1', '9.0', '9.0', '8.9', '8.9', '8.9', '8.8', '8.8', '8.8']

In [7]:
year=driver.find_elements_by_xpath("//span[@class='secondaryInfo']")
for i in year:
    y=i.text
    Year.append(y)
Year[:6]

['(1994)', '(1972)', '(1974)', '(2008)', '(1957)', '(1993)']

In [23]:
Movie_info=pd.DataFrame({})
Movie_info['Title'] = Title[:100]
Movie_info['Year']= Year[:100] 
Movie_info['Rating']=Rating[:100]

In [24]:
Movie_info

                                 Title    Year Rating
0   1. The Shawshank Redemption (1994)  (1994)    9.2
1              2. The Godfather (1972)  (1972)    9.1
2     3. The Godfather: Part II (1974)  (1974)    9.0
3            4. The Dark Knight (2008)  (2008)    9.0
4               5. 12 Angry Men (1957)  (1957)    8.9
..                                 ...     ...    ...
95                   96. Dangal (2016)  (2016)    8.3
96             97. Citizen Kane (1941)  (1941)    8.3
97        98. Full Metal Jacket (1987)  (1987)    8.2
98                     99. 1917 (2019)  (2019)    8.2
99         100. Bicycle Thieves (1948)  (1948)    8.2

[100 rows x 3 columns]