In [1]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
import pandas as pd

In [2]:
driver = webdriver.Chrome(r"C:\chromedriver.exe")
driver.get("https://www.imdb.com/india/top-rated-indian-movies/")

In [3]:
Title=[]
Year=[]
Rating=[]

In [4]:
title_list=driver.find_elements_by_xpath("//td[@class='titleColumn']")

In [5]:
for i in title_list:
    name=i.text
    Title.append(name)
Title[0:10]

['1. Pather Panchali (1955)',
 '2. Raatchasan (2018)',
 '3. Hanky Panky (1979)',
 '4. Anbe Sivam (2003)',
 '5. Nayakan (1987)',
 '6. The World of Apu (1959)',
 '7. Natsamrat (2016)',
 '8. Kireedam (1989)',
 '9. Black Friday (2004)',
 '10. Pariyerum Perumal (2018)']

In [6]:
ratings = driver.find_elements_by_xpath("//td[@class='ratingColumn imdbRating']")
for i in ratings:
    rate=i.text
    Rating.append(rate)
Rating[0:10]

['8.5', '8.5', '8.5', '8.5', '8.5', '8.4', '8.4', '8.4', '8.4', '8.4']

In [7]:
year=driver.find_elements_by_xpath("//span[@class='secondaryInfo']")
for i in year:
    y=i.text
    Year.append(y)
Year[:6]

['(1955)', '(2018)', '(1979)', '(2003)', '(1987)', '(1959)']

In [8]:
Movie_info=pd.DataFrame({})
Movie_info['Title'] = Title[:100]
Movie_info['Year']= Year[:100] 
Movie_info['Rating']=Rating[:100]

In [9]:
Movie_info

                        Title    Year Rating
0   1. Pather Panchali (1955)  (1955)    8.5
1        2. Raatchasan (2018)  (2018)    8.5
2       3. Hanky Panky (1979)  (1979)    8.5
3        4. Anbe Sivam (2003)  (2003)    8.5
4           5. Nayakan (1987)  (1987)    8.5
..                        ...     ...    ...
95         96. Maqbool (2003)  (2003)    8.0
96           97. Lucia (2013)  (2013)    8.0
97          98. Bombay (1995)  (1995)    8.0
98          99. Omkara (2006)  (2006)    8.0
99    100. Section 375 (2019)  (2019)    8.0

[100 rows x 3 columns]